@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

*, *:after, *:before {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
  color: #4d5659;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

*:focus {
  outline: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0 0 30px 0;
  color: #000;
  font-weight: 800;
  line-height: 1.25;
}

p {
  margin: 0 0 30px 0;
}

a {
  cursor: pointer;
  color: #00b0e9;
  text-decoration: none;
}

button,
input,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
  outline: 0;
}

label {
  cursor: pointer;
  display: block;
  margin: 0 0 5px 0;
  font-size: 12px;
  font-weight: 800;
}

.form-input {
  border: 1px solid #e6eaed;
  border-radius: 3px;
  display: inline-block;
  padding: 10px;
}

.button, .button:hover {
  color: #fff;
}

.button {
  background: #00b0e9;
  border: 0;
  border-radius: 3px;
  cursor: pointer;
  display: inline-block;
  padding: 11px 15px;
  text-align: center;
}

.btn-approval {
  background: #43bb6e;
}

.container {
  overflow: hidden;
}

.column {
  overflow: hidden;
  width: 50%;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.text-right {
  text-align: right;
}

.table {
  display: table;
  width: 100%;
}

.table-cell {
  display: table-cell;
  vertical-align: middle;
}

.cell-top {
  vertical-align: top;
}

.overlay {
  background: #df1f1f;
  position: fixed; top: 0; bottom: 0; left: 0; right: 0;
  z-index: 100;
}

.overlay-inner {
  margin: 0 auto;
  height: 100%;
  text-align: center;
}

.overlay h1,
.overlay p {
  color: #fff;
}

.overlay h1 {
  margin: 0 0 20px 0;
  font-size: 61px;
}

.overlay input {
  border: none;
  width: 300px;
}

.btn-enter {
  background: none;
  border: 3px solid #fff;
  padding: 7px 15px;
  font-weight: 800;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.header {
  background: #df1f1f;
  overflow: hidden;
}

.header h1 {
  margin: 17px;
  color: #fff;
}

.header form {
  background: #fff;
  border-radius: 3px;
  float: right;
  margin: 15px;
  overflow: hidden;
  width: 70%;
}

.header input,
.header button {
  background: none;
  border: none;
  padding: 10px;
}

.header input {
  width: 90%;
}

.header button {
  color: #ccc;
}

.search-actions {
  background: #f5f5f5;
  border-bottom: 1px solid #e4e4e4;
}

.search-actions div {
  padding: 10px 20px;
  color: #999;
  font-size: 18px;
}

.search-actions .query {
  max-width: 550px;
  overflow: hidden;
  padding: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.search-actions a {
  color: #e80044;
}

.search-results-inner {
  max-height: 714px;
  overflow: auto;
}

.search-result {
  cursor: pointer;
  padding: 0 5px;
}

.search-result:nth-child(2n-1) {
  background: #f5f5f5;
}

.search-result:hover {
  background: #22242a;
  color: #727785;
}

.search-result div {
  padding: 15px 10px;
}

.search-result .thumbnail,
.search-result img {
  margin: 0;
  line-height: 1;
}

.search-result h2 {
  margin: 0 0 5px 0;
  font-size: 20px;
}

.search-result:hover h2 {
  color: #fff;
}

.search-result p {
  margin: 0;
  color: #727785;
  font-size: 12px;
}

.user-list-wrapper {
  border-bottom: 1px solid #e4e4e4;
  padding: 15px;
}

.user-list {
  margin: 0 -5px -5px 0;
  overflow: hidden;
}

.user-list span {
  background: #f5f5f5;
  border: 1px solid #e4e4e4;
  border-radius: 3px;
  display: block;
  float: left;
  margin: 0 5px 5px 0;
  max-width: 150px;
  overflow: hidden;
  padding: 5px 10px;
  font-size: 12px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.user-list span.active {
  background: #e4e4e4;
}

.theme {
  background: #df1f1f;
  overflow: hidden;
  padding: 10px;
  width: 100%;
  color: #fff;
  font-size: 11px;
  text-align: center;
  text-overflow: ellipsis;
  text-transform: uppercase;
  white-space: nowrap;
}

.message-list {
  height: 400px; max-height: 400px;
  overflow: auto;
}

.message-list .empty {
  padding: 35% 0 0 0;
  color: #ccc;
  font-size: 20px;
  text-align: center;
}

.message {
  border-bottom: 1px solid #e4e4e4;
  overflow: hidden;
  font-size: 13px;
}

.message.active {
  background: #f5f5f5;
}

.message div {
  padding: 6px;
}

.message .username {
  overflow: hidden;
  width: 21%;
  font-weight: 800;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.message .content {
  width: 78%;
}

.message .content div {
  padding: 0;
}

.message .timestamp {
  width: 75px;
  color: #ccc;
}

.messages-outer form {
  background: #f5f5f5;
  border-top: 1px solid #e4e4e4;
  padding: 15px;
}

.messages-outer input {
  width: 100%;
  font-size: 13px;
}

.messages-outer .button {
  margin: 0;
}

#player {
  position: absolute; right: 0;
  width: 50%; height: 360px;
}

.playlist-outer {
  background: #22242a;
  padding: 360px 0 0 0;
  color: #727785;
  font-weight: 800;
}

.playlist-current {
  padding: 20px;
  color: #fff;
  font-size: 20px;
}

.playlist-current .voting {
  padding: 0 0 0 20px;
  width: 18px;
  line-height: 1.25;
}

.playlist-current .voting a {
  color: #727785;
}

.playlist-current .voting .upvote:hover,
.playlist-current .voting .upvote.active  {
  color: green
}

.playlist-current .voting .downvote:hover,
.playlist-current .voting .downvote.active {
  color: #e80044;
}

.playlist-inner {
  height: 275px; max-height: 275px;
  overflow: auto;
}

.playlist-video {
  border-top: 1px solid #333613;
}

.playlist-video.empty {
  padding: 96px 0 0 0;
  text-align: center;
}

.playlist-video div {
  padding: 10px;
}

.playlist-video .delete {
  cursor: pointer;
  width: 80px;
  color: #e80044;
  text-align: center;
}

.playlist-video .delete:hover {
  background: #e80044;
  color: #fff;
}

.playlist-actions {
  border-top: 1px solid #333613;
}

.playlist-actions div {
  background: #333;
  color: #666;
  line-height: 60px;
  text-align: center;
}

.playlist-actions .active {
  background: #22242a;
  color: #fff;
}

.footer {
  background: #f5f5f5;
  border-top: 1px solid #e4e4e4;
  clear: both;
  padding: 30px;
  color: #ccc;
  text-align: center;
}
